@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .background {
        @apply bg-[#333];
    }

    .section {
        @apply container mx-auto py-10 px-5 sm:p-10 my-10 w-11/12;
    }

    .br-6 {
        @apply rounded-md;
    }

    .btn-1 {
        @apply w-fit flex justify-center items-center gap-2 text-primary rounded-3xl font-semibold hover:opacity-[0.9] transition
    }

    .bannarHome {
        @apply bg-no-repeat bg-cover flex flex-col justify-center pl-6 rounded-lg
    }
    .mainInput{
        @apply border-2 rounded-md p-2 border-[#E6E6E6]
    }
    .mainInputBox{
        @apply flex flex-col justify-center gap-2
    }
    .categoryCard{
        @apply flex justify-center items-center flex-col border py-2 hover:border-primary transition hover:shadow-[0_0_10px_rgba(0,0,0,0.2)] cursor-pointer rounded-md
    }
    .justifyBetweenItems{
        @apply flex justify-between items-center
    }
    .flexCenter{
        @apply flex justify-center items-center
    }
    .text5xl{
        @apply text-2xl sm:text-3xl lg:text-5xl font-semibold
    }
    .countTime{
        @apply text-gray-400 uppercase font-light text-sm
    }
    .filterTitle{
        @apply font-semibold text-2xl mb-5
    }
}

.transition {
    transition: .5s all ease;
}
/* blogcard hover design  */
.blogCard:hover img{
    transform: scale(1.1);
    overflow: hidden
} 
.blogCard:hover .title{
    color: #2C742F;
} 
